In [2]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\andre\miniconda3\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\andre\miniconda3\lib\site-packages (from pandas) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\andre\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\andre\miniconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\andre\miniconda3\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\andre\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [4]:
import pandas as pd

#### Exercicio 07
✦ Crie uma lista com 5 nomes de filmes que você goste.
✦ Crie uma 2a lista com o ano de lançamento desses 5 filmes (pode pesquisar, eu deixo). Tranforme isso em um dataframe;
✦ Adicione uma nova coluna com a nota, de 1 a 10, de quanto você gosta deles;

In [5]:
nome = ["Fallen angels", "O Fabuloso Destino de Amélie Poulain", "princesa Mononoke", "Ladrões de Bicicleta", "Blade Runner"]
data = [1995, 2001, 1997, 1948, 1982]

In [13]:
dt_filmes = pd.DataFrame({'nome':nome, 'Data':data})

In [14]:
dt_filmes['Nota'] = [10, 8, 9, 10, 10]
dt_filmes

                                   nome  Data  Nota
0                         Fallen angels  1995    10
1  O Fabuloso Destino de Amélie Poulain  2001     8
2                     princesa Mononoke  1997     9
3                  Ladrões de Bicicleta  1948    10
4                          Blade Runner  1982    10