## miniboss - coop

In [2]:
import pandas as pd

In [5]:
# Crie e exiba um dataframe musicas com informações sobre suas músicas favoritas ( 5 músicas ):
musicas = pd.DataFrame({
    'id_musica' : [1, 2, 3, 4, 5],
    'nome_musica' : ['Distant lover', 'Foi um rio que passou em minha vida', 'Sangue Latino', 'Grace',  'A Lua Girou'],
    'artista' : ['Marvin Gaye', 'Paulinho da Viola', 'Secos e Molhados', 'Jeff Buckley', 'Milton Nascimento' ],
    'genero' :['Soul', 'samba','MPB', 'Rock', 'MPB' ],
    'duracao' : [4.16, 2.39, 2.08, 5.22, 3.40] ,
})

musicas

,id_musica,nome_musica,artista,genero,duracao
0,1,Distant lover,Marvin Gaye,Soul,4.16
1,2,Foi um rio que passou em minha vida,Paulinho da Viola,samba,2.39
2,3,Sangue Latino,Secos e Molhados,MPB,2.08
3,4,Grace,Jeff Buckley,Rock,5.22
4,5,A Lua Girou,Milton Nascimento,MPB,3.40

In [6]:
reproducoes = pd.DataFrame({
    'id_reproducao' : [10, 20, 30, 40, 50],
    'id_musica' : [1, 2 ,3, 4, 5],
    'data_reproducao' : ['01/10/2024', '05/10/2024', '10/10/2024', '15/10/2024', '12/10/2024'],
    'duracao_reproducao' : [3.40, 1.30, 2.0, 5.10, 3.35],
})
reproducoes

   id_reproducao  id_musica data_reproducao  duracao_reproducao
0             10          1      01/10/2024                3.40
1             20          2      05/10/2024                1.30
2             30          3      10/10/2024                2.00
3             40          4      15/10/2024                5.10
4             50          5      12/10/2024                3.35

In [7]:
merge = pd.merge(reproducoes, musicas, on ='id_musica', how='inner')
merge

,id_reproducao,id_musica,data_reproducao,duracao_reproducao,nome_musica,artista,genero,duracao
0,10,1,01/10/2024,3.40,Distant lover,Marvin Gaye,Soul,4.16
1,20,2,05/10/2024,1.30,Foi um rio que passou em minha vida,Paulinho da Viola,samba,2.39
2,30,3,10/10/2024,2.00,Sangue Latino,Secos e Molhados,MPB,2.08
3,40,4,15/10/2024,5.10,Grace,Jeff Buckley,Rock,5.22
4,50,5,12/10/2024,3.35,A Lua Girou,Milton Nascimento,MPB,3.40

In [9]:
merge[['nome_musica', 'artista', 'duracao']]

                           nome_musica            artista  duracao
0                        Distant lover        Marvin Gaye     4.16
1  Foi um rio que passou em minha vida  Paulinho da Viola     2.39
2                        Sangue Latino   Secos e Molhados     2.08
3                                Grace       Jeff Buckley     5.22
4                          A Lua Girou  Milton Nascimento     3.40