!pip install pandas

In [6]:
import pandas as pd

#### Exercicio 08
✦ Crie mais 2 dataframes, de séries e anime/desenhos que você gosta, com as mesmas colunas acima.
✦ Salve os 3 dataframes em 'csv', 'json' e 'html' e nos envie os arquivos.
✦ Concatene horizontalmente os 3 dataframes, ficando 9 colunas no final.

In [10]:
filmes = ["Fallen angels", "O Fabuloso Destino de Amélie Poulain", "princesa Mononoke", "Ladrões de Bicicleta", "Blade Runner"]
data = [1995, 2001, 1997, 1948, 1982]
dt_filmes = pd.DataFrame({'Filmes':filmes, 'Data':data})
dt_filmes['Nota'] = [10, 8, 9, 10, 10]

In [7]:
series = {
    'Série': ['Sopranos', 
               'Breaking Bad',
               'Dark',
               'Game of Thrones',
               'Prison Break'],
    'Data': [2000, 2000, 2000, 2000, 2000],
    'Nota': [10, 10, 9, 8, 6]
}

desenhos = {
    'desenhos': ['Viva: a vida é uma festa',
                'Castelo Animado',
                'Viagem de Chihiro',
                'Rei Leão',
                'Ratatuille'],
    'Data': [2001, 2001, 2001, 2001, 2001],
    'Nota': [10, 9, 7, 8, 10]
}

dt_series = pd.DataFrame(series)
dt_desenhos = pd.DataFrame(desenhos)

In [8]:
dt_series

             Série  Data  Nota
0         Sopranos  2000    10
1     Breaking Bad  2000    10
2             Dark  2000     9
3  Game of Thrones  2000     8
4     Prison Break  2000     6

In [12]:
dt_filmes.to_csv('filmes.csv')
dt_series.to_json('series.json')
dt_desenhos.to_html('desenhos.html')