In [1]:
!pip install pandas

Requirement already satisfied: pandas in /opt/miniconda3/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /opt/miniconda3/lib/python3.12/site-packages (from pandas) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/miniconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/miniconda3/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/miniconda3/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /opt/miniconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import pandas as pd

### Exercicio 7
✦ Crie uma lista com 5 nomes de filmes que você goste.
✦ Crie uma 2a lista com o ano de lançamento desses 5 filmes (pode pesquisar, eu deixo). Tranforme isso em um dataframe;
✦ Adicione uma nova coluna com a nota, de 1 a 10, de quanto você gosta deles;

In [3]:
filmes = ["Fallen angels", "O Fabuloso Destino de Amélie Poulain", "princesa Mononoke", "Ladrões de Bicicleta", "Blade Runner"]
data = [1995, 2001, 1997, 1948, 1982]

In [4]:
dt_filmes = pd.DataFrame({'Filmes':filmes, 'Data':data})

In [5]:
dt_filmes['Nota'] = [10, 8, 9, 10, 10]

In [6]:
dt_filmes

                                 Filmes  Data  Nota
0                         Fallen angels  1995    10
1  O Fabuloso Destino de Amélie Poulain  2001     8
2                     princesa Mononoke  1997     9
3                  Ladrões de Bicicleta  1948    10
4                          Blade Runner  1982    10

### Exercicio 8
✦ Crie mais 2 dataframes, de séries e anime/desenhos que você gosta, com as mesmas colunas acima.
✦ Salve os 3 dataframes em 'csv', 'json' e 'html' e nos envie os arquivos.
✦ Concatene horizontalmente os 3 dataframes, ficando 9 colunas no final.

In [7]:
series = {
    'Série': ['Sopranos', 
               'Breaking Bad',
               'Dark',
               'Game of Thrones',
               'Prison Break'],
    'Data': [2000, 2000, 2000, 2000, 2000],
    'Nota': [10, 10, 9, 8, 6]
}

desenhos = {
    'desenhos': ['Viva: a vida é uma festa',
                'Castelo Animado',
                'Viagem de Chihiro',
                'Rei Leão',
                'Ratatuille'],
    'Data': [2001, 2001, 2001, 2001, 2001],
    'Nota': [10, 9, 7, 8, 10]
}

dt_series = pd.DataFrame(series)
dt_desenhos = pd.DataFrame(desenhos)

In [8]:
dt_series

             Série  Data  Nota
0         Sopranos  2000    10
1     Breaking Bad  2000    10
2             Dark  2000     9
3  Game of Thrones  2000     8
4     Prison Break  2000     6

In [9]:
dt_filmes.to_csv('filmes.csv')
dt_series.to_json('series.json')
dt_desenhos.to_html('desenhos.html')

In [11]:
dt_concat =  pd.concat([dt_filmes, dt_series, dt_desenhos], axis = 1)
dt_concat

,Filmes,Data,Nota,Série,Data,Nota,desenhos,Data,Nota
0,Fallen angels,1995,10,Sopranos,2000,10,Viva: a vida é uma festa,2001,10
1,O Fabuloso Destino de Amélie Poulain,2001,8,Breaking Bad,2000,10,Castelo Animado,2001,9
2,princesa Mononoke,1997,9,Dark,2000,9,Viagem de Chihiro,2001,7
3,Ladrões de Bicicleta,1948,10,Game of Thrones,2000,8,Rei Leão,2001,8
4,Blade Runner,1982,10,Prison Break,2000,6,Ratatuille,2001,10