In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('17_notas_grupos.csv')
df

    Grupo_A  Grupo_B
0        51       23
1        92       25
2        14       88
3        71       59
4        60       40
..      ...      ...
95       39        0
96       84       26
97       79       61
98       81       76
99       52        2

[100 rows x 2 columns]

In [7]:
colunas = ['Grupo_A', 'Grupo_B']

In [8]:
# a média das notas de ambos os grupos
media = df[colunas].mean()
print(media)
print('A média do grupo A é superior ao grupo B')

Grupo_A    51.31
Grupo_B    48.05
dtype: float64
A média do grupo A é superior ao grupo B

In [9]:
# a mediana das notas de ambos os grupos
mediana = df[colunas].median()
print(mediana)
print('A mediana do grupo A foi melhor distribuida')

Grupo_A    53.5
Grupo_B    43.5
dtype: float64
A mediana do grupo A foi melhor distribuida

In [10]:
# o desvio padrão das notas de ambos os grupos
desvio = df[colunas].std()
print(desvio)
print('As notas do grupo A estäo melhores espalhadas')

Grupo_A    29.704163
Grupo_B    30.742783
dtype: float64
As notas do grupo A estäo melhores espalhadas