In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('18_analise_avancada.csv')
df

   Turma  Matemática  Ciências
0      C          83        96
1      A          47        91
2      C          63        52
3      C          50        80
4      A          90        42
..   ...         ...       ...
95     A          78        79
96     A          72        78
97     C          40        57
98     A          96        79
99     A          66        40

[100 rows x 3 columns]

In [4]:
turma_a = df[df["Turma"] == "A"]
turma_b = df[df["Turma"] == "B"]
turma_c = df[df["Turma"] == "C"]

In [9]:
media_a = turma_a[['Matemática', 'Ciências']].mean()
media_a

Matemática    69.515152
Ciências      70.393939
dtype: float64